/* Команда */
.team {
  padding: 60px 0px;

  background-color: var(--section-background-color);

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

// .team__items + .team__items {
//   margin-left: 30px;
// }

// .team__items:not(:last-child) {
//   margin-bottom: 30px;
// }

@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
    height: 374px;

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }
}

.team__list {
  // display: block;
  // display: flex;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.team__container {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 10px;
  margin-top: 0px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 16px;
}
