/* Команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--section-background-color);
}

.team__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
}

.team__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 10px;
  margin-top: 0px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 16px;
}
