/* ----------Хедер---------- */
.header {
  padding: 10px, 0px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 1200px) {
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  @media screen and (min-width: 768px) {
    height: 80px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    height: 80px;
  }
}

.header__nav {
  flex-grow: 2;
  @media screen and (min-width: 768px) {
    flex-grow: 0px;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
    margin-right: 94px;
  }
}

/* LOGO */

.logo {
  color: var(--logo-title-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo--web {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100%;
  padding: 48px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  transform: translateY(0);
  transition: transform 255ms linear;

  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.menu-container.is-open {
  transform: translateY(-100%);

  @media screen and (min-width: 768px) {
    transform: translateY(0);
  }
}

.menu-container.is-open .nav {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.mobile {
  margin-top: 64px;
  text-align: initial;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile__list {
  margin-top: 64px;
}

.mobile__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mobile__item:not(:last-child)::after {
  content: '';
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile__item {
  display: inline-flex;
}

.mobile__item:not(:last-child) {
  padding-right: 10px;
}

.button-nav {
  display: inline-flex;
  z-index: 2;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-nav .button-nav__close {
  display: none;
}

.button-nav.is-open .button-nav__open {
  display: none;
}

.button-nav.is-open .button-nav__close {
  display: block;
}

.button-nav:hover {
  fill: var(--accent-color);
}
