.nav {
  display: flex;

  flex-direction: column;

  @media screen and (min-width: 768px) {
    margin-left: 88px;
    margin-right: 84px;
  }
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}
// .header .nav__item + .nav__item {
//   margin-left: 50px;
// }

.nav__item {
  display: flex;
  justify-content: flex-start;

  @media screen and (min-width: 768px) {
  }
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.nav__link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav__link--current {
  color: var(--accent-color);
  position: relative;
  display: block;

  /* outline: 2px solid yellow; */
}

@media screen and (min-width: 768px) {
  .nav__link--current::after {
    content: '';
    position: absolute;
    border-radius: 2px;

    width: 100%;
    height: 4px;
    display: block;
    bottom: 0;
    left: 0;
    transform: translateY(33px);

    background-color: #2196f3;
  }
}
