:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --white-bcg-color: #e5e5e5;
    --primary-background-color: #2f303a;
    --section-background-color: #f5f4fa;
    --logo-title-color: #000000;
    --address-color: rgba(255, 255, 255, 0.6);
    --border-color: #ececec;
    --icon-color: #afb1b8;
}



